<html>
<head>
    <title>Adding a Student</title>
</head>
<body>
    <h2>Adding a Student</h2>
    <form action = "http://localhost:8000/users/add" method="POST">

        Student ID:     <input type = "text" name = "student_id"><br />
        First Name:     <input type = "text" name = "first_name"><br />
        Last Name:      <input type = "text" name = "last_name"><br />
        Guardian Email: <input type = "text" name = "guardian_email"><br />

        <input type = "submit" value = "Submit">
    </form>

</body>
</html>
